body, html {
    margin: 0;
    padding: 0;
    height: 147%;

    
}

.animated-background {
    height: 100%; 
    align-items: center;
    animation: gradientAnimation 8s infinite;
    background: linear-gradient(120deg, #432424, #481d1d); /* Start gradient */
    background-size: 300% 300%;
    margin-top: 0px;
    padding-top: 0px;
    
}

.back-button {
  margin-top: 10px; /* Відступ від верхнього краю */
  margin-left: 10px; /* Відступ від лівого краю */
  width: 40px; /* Ширина кнопки */
  height: 40px; /* Висота кнопки */
  background-color: #6d5754; /* Колір фону кнопки */
  color: white; /* Колір тексту/стрілочки */
  border: none; /* Видаляємо рамку */
  border-radius: 50%; /* Робимо кнопку круглою */
  display: flex; /* Вирівнюємо стрілочку всередині кнопки */
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Розмір стрілочки */
  cursor: pointer; /* Міняємо курсор на вказівник */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Додаємо легку тінь */
  transition: background-color 0.3s ease; /* Плавна зміна кольору */
  text-decoration: none;

}

  .back-button:hover {
    background-color: black; /* Темніший колір при наведенні */
  }

  .gradient-text {
    color:  #c5b3a1;;
    font-size: 50px;
    letter-spacing: 3px;
    padding-top: 20px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7); /* Тінь для тексту */
    margin-top: 0px;
    text-align: center;
    animation: pulse 2s infinite;
    }
  
    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.1);
        opacity: 0.7;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
  
    }
    header{
      background-color: #301515a4;
      
    }
    .line {
      width: 100%; /* Ширина на весь екран */
      height: 5px; /* Товщина лінії */
      background: #050505; /* Градієнтна лінія */
      margin: 0; /* Без відступів */
    }
    
    .image-conteiner2{
   display:  flex; /* Встановлюємо контейнер як flex-контейнер */
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 520px;
    animation: gradient 15s ease infinite;
   
  } 
  .grafic{
    color: #c5a685;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 60px;
  }

  iframe{
    margin-top: 30px;
   margin-left: 470px;
  }

  .line1 {
    width: 100%; /* Ширина на весь екран */
    height: 5px; /* Товщина лінії */
    background: #050505; /* Градієнтна лінія */
    margin: 0; /* Без відступів */
    margin-top: 60px;
    
  }


  .grafic1{
    color: #937c63;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 60px;
  }

  .Streaming-Services{
    color:  #c5b3a1;
      font-size: 60px;
      letter-spacing: 3px;
      padding-top: 20px;
      letter-spacing: 3px;
      text-shadow: 5px 5px 5px rgba(149, 29, 29, 0.7); /* Тінь для тексту */
      margin-top: 0px;
  text-align: center;
  padding-bottom: 0%;
  margin-top: 50px;
  
  }
  .prodaction4{
    height: 300px;
    width: 550px;
    background: linear-gradient(45deg, rgba(212, 207, 207, 0.7), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    filter: brightness(1.1); /* Збільшення яскравості */
    box-shadow: 10px 20px 40px rgba(1, 1, 1, 3); /* Тінь */
    margin: 20px;
    margin-left: 480px;
    animation: pulse 2s infinite;
    }
  
    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.1);
        opacity: 0.7;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
  
    }
  
    footer{
      text-align: center;
      color: #c5b3a1;
      font-size: 15px;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
      background-color: #301515dd;
    padding:  0;
    }

    .menu{
      text-align: right;
      margin-top: 5px;
      text-decoration: none;
      font-size: 15px;
      color: #c5b3a1;
       font-size: 15px;
       text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }
  
    .list{
     padding: 5px;
     text-decoration: none;
     color: #fefdfd;
       font-size: 15px;
       text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
      background-color: #441111;
      margin-left: 10px;
     
  
    }
  
    .navi{
      display: flex;
      justify-self: start;
      
    }